{% load static %}
{% load blog_tags %}
<!-- Recent Posts Widget -->
<div
  class="sidebar-item recent-posts"
  data-aos="fade-left"
  data-aos-delay="300"
>
  <h3 class="sidebar-title">Recent Posts</h3>
  <div class="mt-3">
  {% for post in latest_posts %}
    <div class="post-item">
      {% if post.image %}
      <a href="{% url 'blog:single' pid=post.id %}"><img src="{{ post.image.url }}" alt="{{ post.title }}" class="flex-shrink-0"/></a>
      {% else %}
          <img class="img-fluid" src="{% static 'img/default.avif' %}" alt="{{ post.title }}" />
      {% endif %}
      <div>
        <h4><a href="{% url 'blog:single' pid=post.id %}">{{ post.title }}</a></h4>
        <time datetime="{{ post.published_date|date:"Y-m-d" }}">{{ post.published_date|date:"d M Y" }}</time>
      </div>
    </div>
  {% endfor %}
  </div>
</div>
<!-- End Recent Posts Widget -->
