{% load static %}
<!-- Tags Widget -->
<div class="sidebar-item tags" data-aos="fade-left" data-aos-delay="400">
  <h3 class="sidebar-title">Tags</h3>
  <ul class="mt-3">
    <li><a href="#">Django</a></li>
    <li><a href="#">Python</a></li>
    <li><a href="#">Web Development</a></li>
    <li><a href="#">Programming</a></li>
    <li><a href="#">Backend</a></li>
    <li><a href="#">Tutorial</a></li>
    <li><a href="#">Frontend</a></li>
    <li><a href="#">CSS</a></li>
  </ul>
</div>
<!-- End Tags Widget -->
