{% extends 'base.html' %}
{% load static %}
{% load blog_tags %}
{% load excerpt_tags %}
{% block content %}
<div class="blog-page">

{% include 'blog/header.html' %}

  <main class="main">

    <!-- Page Title -->
    <div class="page-title">
      <div class="container d-lg-flex justify-content-between align-items-center">
        <h1 class="mb-3 mb-lg-0" data-aos="fade-right">Blog</h1>
        <nav class="breadcrumbs" data-aos="fade-left">
          <ol>
            <li><a href="{% url 'website:index' %}">Home</a></li>
            <li class="current">Blog</li>
          </ol>
        </nav>
      </div>
    </div><!-- End Page Title -->

    <!-- Blog Section -->
    <section id="blog" class="blog section">

      <div class="container">

        <div class="row gy-4">

          <!-- Blog Posts Column -->
          <div class="col-lg-8">

            <div class="row gy-4 posts-list">

              <!-- Post 1 -->
              <div class="col-12" data-aos="fade-up" data-aos-delay="100">
                <article class="post-item">
                  {% for post in posts %}
                  <div class="post-img">
                    <img src="{{post.image.url}}" href="{% url 'blog:single' pid=post.id %}" alt="Getting Started with Django" class="img-fluid">
                  </div>
                  <div class="post-content">

                    <div class="meta-top">

                      <ul>
                        <li class="d-flex align-items-center"><i class="bi bi-person"></i> <a href="#">{{ post.author.get_full_name|default:post.author.username }}</a></li>
                        <li class="d-flex align-items-center"><i class="bi bi-clock"></i> <a href="#">{{ post.published_date|date:'d M Y' }}</a></li>
                        <li class="d-flex align-items-center"><i class="bi bi-eye"></i> <a href="#">{{ post.counted_views }} Views</a></li>
                        <li class="d-flex align-items-center"><i class="bi bi-chat-dots"></i> <a href="{% url 'blog:single' pid=post.id %}">{% comments_count post.id %} Comments</a></li>
                      </ul>
                    </div>

                    <h2 class="title">
                      <a href="{% url 'blog:single' pid=post.id %}">{{ post.title }}</a>
                    </h2>

                    <p class="content-preview">
                      {{ post.content|excerpt:60|safe }}
                    </p>

                    <div class="meta-bottom">
                      <ul>
                        {% for cat in post.category.all %}
                        <li><i class="bi bi-folder"></i> <a href="{% url 'blog:category' cat_name=cat.name %}">{{ cat.name }}</a>{%  if not forloop.last %}, {% endif %}</li>
                        {% endfor %}
                      </ul>
                    </div>

                    <div class="read-more mt-3">
                      <a href="{% url 'blog:single' pid=post.id %}" class="btn btn-primary">Read More <i class="bi bi-arrow-right ms-2"></i></a>
                    </div>
                  </div>
                  {% empty %}
                  <p>No content available.</p>
                  {% endfor %}
                </article>
              </div>
            </div>

            <!-- Pagination -->
            <div class="pagination d-flex justify-content-center mt-5" data-aos="fade-up">
              <ul>
                {% if posts.has_previous %}
                <li><a href="?page={{ posts.previous_page_number }}"><i class="bi bi-chevron-left"></i></a></li>
                {% endif %}
                {% for i in posts.paginator.page_range %}
                {% if posts.number == i %}
                <li><a href="?page={{ i }}" class="active">{{ i }}</a></li>
                {% else %}
                <li><a href="?page={{ i }}">{{ i }}</a></li>
                {% endif %}
                {% endfor %}
                {% if posts.has_next %}
                <li><a href="?page={{ posts.next_page_number }}"><i class="bi bi-chevron-right"></i></a></li>
                {% endif %}
              </ul>
            </div>
            <!-- End Pagination -->

          </div><!-- End Blog Posts Column -->

          <!-- Sidebar Column -->
          <div class="col-lg-4 sidebar">

            {% include 'blog/blog-search.html' %}
            {% latestblog 5 %}
            {% postcategories %}
            
          </div><!-- End Sidebar Column -->

        </div>

      </div>

    </section><!-- End Blog Section -->

  </main>

</div>
{% endblock %}