{% load static %}
<header id="header" class="header dark-background d-flex flex-column">
    <i class="header-toggle d-xl-none bi bi-list"></i>

    <div class="profile-img">
      <img src="{% static 'assets/img/my-profile-img.jpg' %}" alt="" class="img-fluid rounded-circle">
    </div>

    <a href="{% url 'website:index' %}" class="logo d-flex align-items-center justify-content-center">
      <!-- Uncomment the line below if you also wish to use an image logo -->
      <!-- <img src="assets/img/logo.png" alt=""> -->
      <h1 class="sitename">Mahdi Iranpour</h1>
    </a>

    <div class="social-links text-center">
      <!-- <a href="#" class="twitter"><i class="bi bi-twitter-x"></i></a>
      <a href="#" class="facebook"><i class="bi bi-facebook"></i></a> -->
      <a href="https://www.instagram.com/mahdetail" class="instagram"><i class="bi bi-instagram"></i></a>
      <!-- <a href="#" class="google-plus"><i class="bi bi-skype"></i></a> -->
      <a href="https://www.linkedin.com/in/mahdi-iranpour-031228379" class="linkedin"><i class="bi bi-linkedin"></i></a>
    </div>

    <nav id="navmenu" class="navmenu">
      <ul>
        <li><a href="{% url 'website:index' %}" class="active"><i class="bi bi-house navicon"></i>Home</a></li>
        <li><a href="{% url 'website:index' %}#about"><i class="bi bi-person navicon"></i> About</a></li>
        <li><a href="{% url 'website:index' %}#resume"><i class="bi bi-file-earmark-text navicon"></i> Resume</a></li>
        <li><a href="{% url 'website:index' %}#languages"><i class="bi bi-globe navicon"></i>Languages</a></li>
        <li><a href="{% url 'website:index' %}#projects"><i class="bi bi-hdd-stack navicon"></i> Projects</a></li>
        <li><a href="{% url 'blog:blog-home' %}"><i class="bi bi-journal-text navicon"></i> Blog</a></li>
        <li><a href="{% url 'website:index' %}#contact"><i class="bi bi-envelope navicon"></i> Contact</a></li>
      </ul>
    </nav>

  </header>